<div class='modalContainer'>
    <div class='modalContent'>
        <div>{{dish.id}}</div>
        <input #dishType [ngModel]='dish.dishType' type='text'>
        <input #dishName [ngModel]='dish.name' type='text'>
        <input #englishName [ngModel]='dish.englishName' type='text'>
        <input #price [ngModel]='dish.price' type='text'>
        <input #imageUrl [ngModel]='dish.imageUrl' type='text'>
        
        <input type='button' (click)='closeDialog(true)' value='Save'>
        <input type='button' (click)='closeDialog(false)' value='Close'>
    </div>
</div>
