<div class='dailyMenuContainer' *ngIf='dayMenu' (dragover)='onDragOver($event)'>
    <div class='dailyMenuHeader' (drop)='onDrop($event)'>{{dayMenu.date}}</div>
    <div class='dailyMenuDishContainer'>
        <div *ngFor='let dishType of dishTypes'>
            <div class="dishTypeContainer">
                <div class="dishType" (drop)='onDrop($event)'>{{dishType}}</div>
            </div>
            <div class='dish' *ngFor='let dish of dayMenu.dishes.get(dishType)' (drop)='onDrop($event, dishType, dish)'>
                <div class='dishName'>{{dish.name}}</div>
                <div class='dishPrice'>{{dish.price}} Ft.-</div>
                <img class='dishPicture' src='{{dish.imageUrl}}'>
                <div class='dishControls' *ngIf='editMode'>
                    <input class='editDish' type='button' value='Edit'>
                    <input class='removeDish' type='button' value='Remove' (click)='removeDish(dish.id)'>
                </div>
            </div>
        </div>
    </div>
</div>